<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaft.com"
      xmlns:sec="http://www.thymeleaft.org/extras/spring-security">

    <head th:replace="/LandingPage::header"></head>
    <link th:href="@{/css/RegistroMantenimiento.css}" rel="stylesheet" type="text/css">

    <body>
        <main>       
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-12 col-lg-6 col-sm-12" >
                            <div class="row mb-4 mt-4">
                                <h3>Servicios de mantenimiento</h3>
                            </div>
                            <div class="form-section">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Placa</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Departamento</label>
                                        <select class="form-select"></select>
                                    </div>
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Empleado</label>
                                        <select class="form-select"></select>
                                    </div>

                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Fecha</label>
                                        <input type="date" class="form-control" required>
                                    </div>

                                    <div class="col col-md-12 col-sm-12 mb-2">
                                        <label>Descripción del mantenimiento</label>
                                        <textarea id="direccion" maxlength="275" type="text" class="form-control">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success">
                                            Agregar mantenimiento <i class="fas fa-car-crash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-sm-12">
                            <img id="img-right-side" th:src="@{/images/carservice.jpg}" alt="car service"/>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <footer th:replace="/LandingPage::footer"></footer>
    </body>

</html>
