<html>
    <head>
        <title>DiscoveryCars</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link th:href="@{/landingPage.css}" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/89da924aef.js" crossorigin="anonymous"></script>
        <link th:href="@{/css/CreateCustomers.css}" rel="stylesheet" type="text/css"/>
    </head>
    <header class="header-container">

        <a href="LandingPage.html"><img class="header-logo" src="images/logo.JPG" alt="logo"/></a>
        <nav class="nav-container">

            <div class="nav-container-link">
                <ul>
                    <li>Modelos</li>
                    <li><a href="RegistroMantenimiento.html">Mantenimiento</a></li>
                    <li>Accesorios</li>
                    <li><a href="CreateCustomers.html">Ventas</a></li>
                    <li>Exhibición</li>
                    <li>Manejo</li>                    
                    <li>Clientes</li>
                </ul>

            </div>
            <div class="subnav-container-link">
                <ul>
                    <li>Registrar</li>
                    <li>Login</li>
                </ul>
            </div>

        </nav>
        <div class="header-gray">
            <nav style="--bs-breadcrumb-divider:'>';" aria-label="breadcrumb">
                <div class="breadcrumbs">
                    <ul class="breadcrumb"">
                        <li class="breadcrumb-item"><a href="LandingPage.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="CreateSales.html">Ingreso Inventario</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <body>
        <main>
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-12 col-lg-6 col-sm-12" >
                            <div class="row mb-4 mt-4">
                                <h3>Actualización de clientes</h3>
                            </div>

                            <div class="form-section">

                                <div class="row">
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Cedula</label>
                                        <input type="text" placeholder="Formato 111111111" class="form-control" readonly>
                                    </div>
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" required>
                                    </div>
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Apellido 1</label>
                                        <input type="text" class="form-control" required>
                                    </div>

                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label>Apellido 2</label>
                                        <input type="text" class="form-control" required>
                                    </div>

                                    <div class="col col-md-6 col-sm-12 mb-2">
                                        <label>Correo</label>
                                        <input id="email" type="email" class="form-control" required>
                                    </div>
                                    
                                    <div class="col col-md-6 col-sm-12 mb-2">
                                        <label>Telefono</label>
                                        <input type="number" placeholder="Formato 88888888" class="form-control" required>
                                    </div>
                                    
                                    <div class="col col-md-12 col-sm-12 mb-2">
                                        <label>Dirección</label>
                                        <textarea maxlength="250" type="text" class="form-control" required>
                                        </textarea>
                                    </div>
                                </div>

                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-success">
                                        Actualizar cliente <i class="fas fa-user"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6 col-sm-12">

                        </div>

                    </div>
                </form>
            </div>
        </main>
        <footer class="footer-container mt-3">
            <div class="footer-line"></div>
            <div class="footer-link-container">

                <ul>
                    <li><a id="style-1" href="url">Mantenimiento</a></li>
                    <li><a id="style-1" href="url">Desarrolladores</a></li>
                    <li><a id="style-1" href="url">Sucursales</a></li>
                </ul>
                <ul>
                    <li><a id="style-1" href="url">Modelos</a></li>
                    <li><a id="style-1" href="url">Ventas</a></li>
                    <li><a id="style-1" href="url">Agregar Vehículos</a></li>
                </ul>
                <ul>
                    <li><a id="style-1" href="url">Contactos</a></li>
                    <li><a id="style-1" href="url">Términos y Condiciones</a></li>
                    <li><a id="style-1" href="url">Licencias</a></li>
                </ul>
                <ul>
                    <li><a id="style-1" href="url">Facebook</a></li>
                    <li><a id="style-1" href="url">Twitter</a></li>
                    <li><a id="style-1" href="url">Instagram</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>