*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html, body{
    height: 100%;
    box-sizing: border-box;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}
/*Navigation style*/
.header-container{
    width: 100%;
    height: 16vh;
    position: relative;
}
.header-container .header-logo{
    position: absolute;
    max-height: 16vh;
    max-width: 16vw;
}
.container {
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
}
.header-container .header-gray{
    background-color: #d9d9d9;
    height: 50%;
}
.nav-container{
    background-color: #181818;
    color: #ffffff;
    display: flex;
    font-size: 1.8rem;
    justify-content: space-around;
    height: 50%;
    align-items: center;
    padding-left: 13vw;
    text-decoration: none;
}
.header-container .nav-container ul li{
    list-style: none;
    display: inline;
}
.header-container .nav-container ul li a:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 #3C6E71;
}

.header-container .nav-container .subnav-container-link{
    margin-left: 85%;
}
.header-container .nav-container .subnav-container-link ul li {
    color: #181818;
}
.header-container .nav-container .subnav-container-link ul li a {
    text-decoration: none;
}

.header-container .header-gray .breadcrumbs ul {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    padding-top: 9px;
    padding-left: 100px;
    ;
    justify-content: flex-start;
    text-decoration: none;
}
.header-container .header-gray .breadcrumbs ul li {
    list-style: none;
    display: inline;
    margin: 2px;
}
.header-container .header-gray .breadcrumbs ul li a:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 #3C6E71;
}
.header-container .header-gray .breadcrumbs a {
    text-decoration: none;
    color: #181818;
}
/*Main style*/
.main-container{
    height: 84vh;
    width: 100%;
    display: flex;
    align-content: center;
}
.main-container .formulario-mant {
    max-width: 50%;
    width: 100%;
    height: 75%;
    background: white;
    padding: 25px 30px;
    border-radius: 5px;
    align-items: center;
}
.main-container .formulario-mant .titulo-formulario-mant {
    margin-bottom: 20px;
    position: relative;
    font-size: 25px;
    font-weight: 600;
}
.main-container form {
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-container form .column {
    float: left;
    width: 50%;
    padding: 2px;
}
.main-container form .input-box {
    margin: 20px 0 12px 0;
    width: calc (100% / 2 - 20px);
}
.main-container form .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
}
.main-container form .input-box .detail{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 2rem;
}
.main-container form .input-box .form-select {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
    text-align: left;

}

.main-container .image-main{
    display: flex;
    align-items: flex-end;
    position: relative;
    left: 250px;
    float: right;
    width: 30%;
}
.main-container .image-main img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
.main-container form .btn-primary{
    position: absolute;
    right: 80px;
    bottom: 40px;
    float: left;
    margin-top:20%;
    margin-right: 30%;
    background-color: gray;
    font-size: 20px;
    width: 100px;
    border-radius: 2px;
}
/*footer-style*/
.footer-container{
    height: 40vh;
    width: 100%;
    background-color: #d9d9d9;
    padding-top: 5px;
}
.footer-container .footer-line{
    height: 5px;
    width: 100%;
    background: #181818;
}
.footer-container .footer-link-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #181818;
    align-items: center;
}
.footer-container .footer-link-container ul li{
    list-style: none;
    font-size: 1.8rem;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-container .footer-link-container ul li a:link,a:visited, a:active{
    text-decoration: none;
    color: #ffffff;
}
#style-1 {
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    box-shadow: inset 0 0 0 0 #181818;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: #181818;
}
#style-1:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 #3C6E71;
}
