<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.com"
      xmlns:sec="http://www.thymeleaft.org/extras/spring-security">
    <head th:replace="/LandingPage::header"></head>
    <link th:href="@{/css/AdmVehicular.css}" rel="stylesheet" type="text/css">
    <body>
        <main>

            <div class="container">
                <form th:object = "${vehiculo}"                          
                      th:action="@{/Vehiculos/save}"                          
                      method="POST">
                    <div class="row">
                        <div class="col-12 col-lg-6 col-sm-12" >
                            <div class="row mb-4 mt-4">
                                <h3 th:text="#{vehiculo.titulo3}"></h3>
                            </div>
                            <div class="form-section">
                                <div class="row">
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label th:text="#{mant.placa}"></label>
                                        <input id="txtPlaca" th:field="*{placa}" type="text" class="form-control" required readonly>
                                    </div>
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label th:text="#{vehiculo.marca}"></label>
                                        <select th:field="*{Marcas}" class="form-select" >
                                            <option th:each="x:${marca}"                                            
                                                    th:value="${x.Id}"                                            
                                                    th:text="${x.Marca}"/>
                                        </select>
                                    </div>
                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label th:text="#{vehiculo.modelo}"></label>
                                        <select th:field="*{Modelos}" class="form-select" >
                                            <option th:each="x:${modelo}"                                            
                                                    th:value="${x.Id}"                                            
                                                    th:text="${x.Modelo}"/>
                                        </select>
                                    </div>

                                    <div class="col-12 col-md-6 col-sm-12 mb-2">
                                        <label th:text="#{vehiculo.anio}"></label>
                                        <input th:field="*{Ano}" type="number" min="1980" th:max="${Year}" class="form-control" required>
                                    </div>

                                    <div class="col col-md-6 col-sm-12 mb-2">
                                        <label th:text="#{vehiculo.precio}"></label>
                                        <input th:field="*{Precio_Compra}" id="text" type="text" class="form-control" required>
                                    </div>

                                    <div class="col col-md-6 col-sm-12 mb-2">
                                        <label th:text="#{vehiculo.color}"></label>
                                        <input th:field="*{Color}" type="text" class="form-control" required>
                                    </div>
                                    
                                    <div class="col col-md-6 col-sm-12 mb-3 mx-3 mt-2 form-check form-switch">
                                        <label class="form-check-label" th:text="#{vehiculo.estado}"></label>
                                        <input th:field="*{Estado}" type="checkbox" class="form-check-input" required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <button type="submit" class="btn btn-success">
                                            Modificar vehiculo <i class="fas fa-car"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 col-sm-12">
                            <img id="img-right-side" th:src="@{/images/carAdmVehicular.jpg}" alt="car service"/>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer th:replace="/LandingPage::footer"></footer>
    </body>
</html>

<!-- Linea comentada ya que no se requiere esta validación, se deja en caso de requerir ingresar datos
<script th:src="@{/js/vehicle.js}" type="text/javascript"></script>
-->