<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.com"
      xmlns:sec="http://www.thymeleaft.org/extras/spring-security">
    <head>
        <title>DiscoveryCars | Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link th:href="@{/css/loginStyle.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <main class="main-container">
            <img class="form-logo" src="images/logo.JPG" alt=""/>
            <form th:object = "${empleados}"                          
                          th:action="@{/Login/SingUp}"                          
                          method="POST">
                <input th:field="*{Nombre_Usuario}" type="text" placeholder="Usuario">
                <input th:field="*{Password}" type="password" placeholder="Contraseña">
                <button type="submit">
                    Login
                </button>
            </form>
            
        </main>
    </body>
</html>
