<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaft.com"
      xmlns:sec="http://www.thymeleaft.org/extras/spring-security">

    <head th:fragment="header">
        <title>DiscoveryCars</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://kit.fontawesome.com/89da924aef.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link th:href="@{/css/LandingPage.css}" rel="stylesheet" type="text/css"/>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </head>

    <body>

        <header th:fragment="navbar" class="header-container">
            <a th:href="@{/Home/Index}">
                <img class="header-logo" th:src="@{/images/logo.JPG}" alt="logo"/>
            </a>
            <nav class="nav-container">
                <div class="nav-container-link">
                    <ul>
                        <li sec:authorize="hasRole('Administrador')"><a th:href="@{/Empleados/Index}" th:text="#{landing.empleados}"></a></li>
                        <li sec:authorize="hasAnyRole ('Administrador', 'Mantenimientos')"><a th:href="@{/Mantenimiento/Index}" th:text="#{landing.mantenimiento}"></a></li>
                        <li sec:authorize="hasAnyRole ('Administrador', 'Ventas')"><a th:href="@{/Clientes/Index}" th:text="#{landing.clientes}"></a></li>
                        <li sec:authorize="hasAnyRole ('Administrador', 'Ventas')"><a th:href="@{/Ventas/Crear}" th:text="#{landing.ventas}"></a></li>
                        <li sec:authorize="hasAnyRole ('Administrador', 'Ventas')"><a th:href="@{/Vehiculos/Index}" th:text="#{landing.vehiculos}"></a></li>
                    </ul>
                </div>
                <div class="subnav-container-link">
                    <ul>
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/Login/index}" class="text-white">
                                <i class="fas fa-cogs">
                                </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="header-gray">

            </div>
        </header>

        <main>
            <div class="main-container">
                <div class="text-main">
                    <p class="text-title1">Discovery</p>
                    <p th:text="#{landing.titulo}"></p>
                </div>
                <div class="image-main">
                    <p class="text-title2">Cars</p>
                    <img th:src="@{/images/car.jpg}" alt="car"/>
                </div>
            </div>
            <div class="main-carrousel">
                <div class="main-carrousel-text">
                    <p class="main-carrousel-subtitle">Desarrollado</p>
                    <p class="main-carrousel-content">Universidad Fidélitas</p>
                </div>
                <div id="carouselExampleInterval" class="carousel slide carousel-position" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img th:src="@{/images/car7.jpg}" class="d-block w-100" alt="car2">
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img th:src="@{/images/car3.jpg}" class="d-block w-100" alt="car3">
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img th:src="@{/images/car8.jpg}" class="d-block w-100" alt="car4">
                        </div>
                    </div>

                </div>
            </div>
        </main>

        <footer th:fragment="footer" class="footer-container mt-3">
            <div class="footer-line"></div>
            <div class="footer-link-container">

                <ul>
                    <li><a id="style-1" href="url" th:text="#{landing.mantenimiento}"></a></li>
                    <li><a id="style-1" href="url" th:text="#{landing.desarrolladores}"></a></li>
                    <li><a id="style-1" href="url" th:text="#{landing.sucursales}"></a></li>
                </ul>
                <ul>
                    <li><a id="style-1" href="url" th:text="#{landing.modelos}"></a></li>
                    <li><a id="style-1" href="url" th:text="#{landing.ventas}"></a></li>
                    <li><a id="style-1" href="url" th:text="#{landing.add}"></a></li>
                </ul>
                <ul>
                    <li><a id="style-1" href="url" th:text="#{landing.contactos}"></a></li>
                    <li><a id="style-1" href="url" th:text="#{landing.condiciones}"></a></li>
                    <li><a id="style-1" href="url" th:text="#{landing.licencias}"></a></li>
                </ul>
                <ul>
                    <li><a id="style-1" href="url">Facebook</a></li>
                    <li><a id="style-1" href="url">Twitter</a></li>
                    <li><a id="style-1" href="url">Instagram</a></li>
                </ul>
                <div class="container-lang">
                    <a class="lang" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                       th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">Español</a>
                    <a class="lang" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                       th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">English</a>
                </div>
            </div>

        </footer>

    </body>
</html>
